.App {
  /*text-align: center;*/
}
.adjust-width{
  width: 48px;
  height:20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.align-center{
  text-align: center;
}
.inc-font{
  font-size: 200%;
}
img {
  max-width: 100%;
  height: auto;
}
.students-tag{
  background-color: gainsboro;
  color: black;
  text-align: center;
  font-size: 200%;
  /*opacity: 0;*/
  /*margin: 20px;*/
  border: 1px solid;
  /*padding: 10px;*/
  box-shadow: 5px 10px #888888;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
